@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;600;700;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Source Code Pro", sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 100px;
  background-color: beige;
}

h1 {
  font-size: 2.5rem;
  color: rgb(41, 128, 96);
  background: burlywood;
  width: 7%;
  border-radius: 5px;
  text-align: center;
}

li {
  list-style-type: none;
}

a {
  font-size: 1.5em;
  font-weight: 600;
  color: olive;
  text-decoration: none;
}

a:hover {
  color: limegreen;
  opacity: 0.3;
}